
<form [formGroup]="designationForm">
    <h3 class="page-title">{{p_Operation}} Designation</h3>
    <div class="card">
        <div class="card-head mh-100">
            <div class="position-absolute top-0 end-0 p-2 me-4">
                <div class="row">         
                  <button mat-mini-fab color="accent" class="ms-2" (click)="goBack()" type="submit" matTooltip="Back">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                  <button mat-mini-fab color="primary" class="ms-2" (click)="onSave()" type="submit" matTooltip="Save">
                    <mat-icon>save</mat-icon>
                  </button>
                </div>
              </div>
        </div>
        <div class="card-body"> 
          <input hidden="true" formControlName="designationID" />   
            <div class="row g-3">
                <div class="input-group-sm col-md-4">
                  <label for="designationCode" class="form-label required">Designation Code</label>
                  <input 
                  [class.is-invalid]="designationForm.controls['designationCode'].dirty && designationForm.hasError('required', 'designationCode')"
                  [class.is-valid]="designationForm.controls['designationCode'].dirty"
                  formControlName="designationCode" type="text" class="form-control" id="designationCode" required placeholder="Code">
                  <small
                    *ngIf="designationForm.controls['designationCode'].dirty && designationForm.hasError('required', 'designationCode')"
                    class="text-danger">*Code is required
                  </small>
                </div>
                <div class="input-group-sm col-md-4">
                    <label for="designationName" class="form-label required">Designation Name</label>
                    <input 
                    [class.is-invalid]="designationForm.controls['designationName'].dirty && designationForm.hasError('required', 'designationName')"
                    [class.is-valid]="designationForm.controls['designationName'].dirty"
                    formControlName="designationName" type="text" class="form-control" id="designationName" required placeholder="Name">
                    <small
                      *ngIf="designationForm.controls['designationName'].dirty && designationForm.hasError('required', 'designationName')"
                      class="text-danger">*Name is required
                    </small>
                  </div>
                  <div class="input-group-sm col-md-4">
                    <label for="description" class="form-label">Description</label>
                    <textarea 
                    formControlName="description" type="text" class="form-control" id="description"></textarea>                   
                  </div>
               
            </div>
        </div>
        <div class="card-footer">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="IsActive" formControlName="IsActive">
                <label class="form-check-label" for="IsActive">Active</label>
              </div>
        </div>
    </div>
</form>

