
<form [formGroup]="instituteForm">
    <h3 class="page-title">Create Institute</h3>
    <div class="card">
        <div class="card-head mh-100">
            <div class="position-absolute top-0 end-0 p-2 me-4">
                <div class="row">         
                  <button mat-mini-fab color="primary" class="ms-2">
                    <mat-icon>save</mat-icon>
                  </button>
                </div>
              </div>
        </div>
        <div class="card-body">    
            <div class="row g-3">
                <div class="input-group-sm col-md-4">
                  <label for="instituteCode" class="form-label required">Institute Code</label>
                  <input 
                  [class.is-invalid]="instituteForm.controls['instituteCode'].dirty && instituteForm.hasError('required', 'instituteCode')"
                  [class.is-valid]="instituteForm.controls['instituteCode'].dirty"
                  formControlName="instituteCode" type="text" class="form-control" id="instituteCode" required placeholder="Code">
                  <small
                    *ngIf="instituteForm.controls['instituteCode'].dirty && instituteForm.hasError('required', 'instituteCode')"
                    class="text-danger">*Code is required
                  </small>
                </div>
                <div class="input-group-sm col-md-4">
                    <label for="instituteName" class="form-label required">Institute Name</label>
                    <input 
                    [class.is-invalid]="instituteForm.controls['instituteName'].dirty && instituteForm.hasError('required', 'instituteName')"
                    [class.is-valid]="instituteForm.controls['instituteName'].dirty"
                    formControlName="instituteName" type="text" class="form-control" id="instituteName" required placeholder="Name">
                    <small
                      *ngIf="instituteForm.controls['instituteName'].dirty && instituteForm.hasError('required', 'instituteName')"
                      class="text-danger">*Name is required
                    </small>
                  </div>
                  <div class="input-group-sm col-md-4">
                    <label for="description" class="form-label">Description</label>
                    <textarea 
                    formControlName="description" type="text" class="form-control" id="description"></textarea>                   
                  </div>               
               
            </div>
        </div>
        <div class="card-footer">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="active" formControlName="active">
                <label class="form-check-label" for="active">Active</label>
              </div>
        </div>
    </div>
</form>

