.mat-column-instituteCode{
  max-width: 50px !important;
  min-width: 20px !important;
}

.mat-column-instituteName{
  max-width: 120px !important;
  min-width: 50px !important;
}

.mat-column-description{
  max-width: 200px !important;
  min-width: 100px !important;
}