<form [formGroup]="LmsWeekendForm">
  <h3 class="page-title">Define Weekend</h3>
  <div class="card">
    <div class="card-head mh-100">
      <div class="position-absolute top-0 end-0 p-2 me-4">
        <div class="row">
          <button mat-mini-fab color="primary" class="ms-2" (click)="onSave()" type="submit" matTooltip="Save">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row g-3">
        <div class="input-group-sm col-md-4">
          <label for="branchID" class="form-label">Branch</label>
          <select (change)="onBranchChange($event)"
            [class.is-invalid]="LmsWeekendForm.controls['branchID'].dirty && LmsWeekendForm.hasError('required', 'branchID')"
            [class.is-valid]="LmsWeekendForm.controls['branchID'].dirty" formControlName="branchID" class="form-select"
            id="branchID" required>
            <option value="">Choose...</option>
            <option *ngFor="let br of modelBranch" [value]="[br.branchID]">
              {{br.branchName}}
            </option>
          </select>
          <small *ngIf="LmsWeekendForm.controls['branchID'].dirty && LmsWeekendForm.hasError('required', 'branchID')"
            class="text-danger">*Branch is required
          </small>
        </div>

      </div>
    </div>


    <div class="card card-body w-50 ms-4">
      <div class="row border rounded-pill">
        <div class="col-2">
          Saturday
        </div>
        <div class="col-4">
          <input hidden="true" formControlName="hdnSaturday" /> 
          <select class="form-select" formControlName="cboSaturday">
            <option value="-1">Choose...</option>
            <option value="103">Full Day</option>
            <option value="102">Half Day</option>
            <option value="101">Weekend</option>
          </select>
        </div>
      </div>

      <div class="row border rounded-pill mt-2">
        <div class="col-2">
          Sunday
        </div>
        <div class="col-4">
          <input hidden="true" formControlName="hdnSunday" /> 
          <select class="form-select" formControlName="cboSunday">
            <option value="-1">Choose...</option>
            <option value="103">Full Day</option>
            <option value="102">Half Day</option>
            <option value="101">Weekend</option>
          </select>
        </div>
      </div>

      <div class="row border rounded-pill mt-2">
        <div class="col-2">
          Monday
        </div>
        <div class="col-4">
          <input hidden="true" formControlName="hdnMonday" /> 
          <select class="form-select" formControlName="cboMonday">
            <option value="-1">Choose...</option>
            <option value="103">Full Day</option>
            <option value="102">Half Day</option>
            <option value="101">Weekend</option>
          </select>
        </div>
      </div>

      <div class="row border rounded-pill mt-2">
        <div class="col-2">
          Tuesday
        </div>
        <div class="col-4">
          <input hidden="true" formControlName="hdnTuesday" />
          <select class="form-select" formControlName="cboTuesday">
            <option value="-1">Choose...</option>
            <option value="103">Full Day</option>
            <option value="102">Half Day</option>
            <option value="101">Weekend</option>
          </select>
        </div>
      </div>

      <div class="row border rounded-pill mt-2">
        <div class="col-2">
          Wednesday
        </div>
        <div class="col-4">
          <input hidden="true" formControlName="hdnWednesday" />
          <select class="form-select" formControlName="cboWednesday">
            <option value="-1">Choose...</option>
            <option value="103">Full Day</option>
            <option value="102">Half Day</option>
            <option value="101">Weekend</option>
          </select>
        </div>
      </div>

      <div class="row border rounded-pill mt-2">
        <div class="col-2">
          Thursday
        </div>
        <div class="col-4">
          <input hidden="true" formControlName="hdnThursday" />
          <select class="form-select" formControlName="cboThursday">
            <option value="-1">Choose...</option>
            <option value="103">Full Day</option>
            <option value="102">Half Day</option>
            <option value="101">Weekend</option>
          </select>
        </div>
      </div>

      <div class="row border rounded-pill mt-2">
        <div class="col-2">
          Friday
        </div>
        <div class="col-4">
          <input hidden="true" formControlName="hdnFriday" />
          <select class="form-select" formControlName="cboFriday">
            <option value="-1">Choose...</option>
            <option value="103">Full Day</option>
            <option value="102">Half Day</option>
            <option value="101">Weekend</option>
          </select>
        </div>
      </div>

    </div>

  </div>
</form>