
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
              
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                   
                   
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                            <ul class="collapse nav flex-row ms-1" id="submenu3" style="margin-left: 15% !important;">
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product 1</span></a>
                            </li>
                            <li>
                                <a class="nav-link px-0"> <span class="d-none d-sm-inline">Product 2</span></a>
                            </li>
                            <li>
                                <a class="nav-link px-0"> <span class="d-none d-sm-inline">Product 3</span></a>
                            </li>
                            <li>
                                <a class="nav-link px-0"> <span class="d-none d-sm-inline">Product 4</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
        </div>
       